/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  width: 100vw;
}

button {
  border: none;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  gap: 2%;
  min-height: 450px;
}

#scriptSelection {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 20%;
  gap: 2%;
}

#scriptSelection button {
  cursor: pointer;
  font-size: 16px;
}

#information {
  grid-area: rightSide;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #f2f2f2;
  background-color: #1b8c42;
  /* White */
  border-radius: 5px;
  width: 25%;
}

#information h2 {
  color: #f2f2f2;
}

h1 {
  color: #0e5a8a;
  text-align: center;
  margin: 20px 0;
}

h2 {
  /* color: #333; */
  color: #0e5a8a;
  margin-top: 6px;
  margin-bottom: 24px;
}

h3 {
  margin-bottom: 18px;
  color: #0e5a8a;
}

p {
  margin: 12px 0;
}

b {
  color: #0c4c74;
}

label {
  font-size: 16px;
  line-height: 1.6;
}

input {
  border: none;
  padding: 8px 6px;
  border-radius: 2px;
}

input:focus-visible {
  outline: none;
}

.hidden {
  display: none;
}

/* Navigation bar styles */
nav {
  /* background-color: #003650; */
  background-color: #0e5a8a;
  /* Dark gray */
  overflow: hidden;
  width: 30%;
}

nav button {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 3px;
  background-color: white;
  color: #0e5a8a;
  font-weight: 700;
}

nav button:hover {
  background-color: #e7e7e7;
  /* Darker gray */
}

/* Section styles */
section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  background-color: #d3ebfa;
  /* White */
  border-radius: 5px;
}

#sections {
  width: 50%;
}

.container {
  margin-bottom: 24px;
}

/* PRINT SHARE EMPLOYEE */
#printShareSection button {
  cursor: pointer;
  padding: 8px 6px;
  text-transform: uppercase;
}

#clearEmpIDBtn {
  margin-top: 6px;
}

#updateCredentialsBtn {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #45bf86;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

#runScriptBtn {
  width: 96px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

#enrollmentCheckSection p {
  margin-bottom: 0;
}

.transparent-box {
  width: 100%;
}

#fileDropZone {
  width: 100%;
  border: 2px dashed #bdbdbd;
  /* background-color: #ecf3f76e; */
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
}

#fileDropZone p {
  color: #666;
}

.disclaimer {
  color: #6a696b;
  font-style: italic;
}

.warning {
  color: #dd1616;
  font-weight: 700;
}

.dragover {
  background-color: #f0f0f0c5;
}

#checkEnrollmentButton {
  padding: 12px 10px;
}

#employeeConfirmationButton,
#addEmpIDBtn,
#runScriptBtn {
  background-color: #cef2e1;
  margin-top: 6px;
  padding: 8px 10px;
  box-shadow: -2px 3px 0px #1282c769;
  border-radius: 2px;
}

#employeeConfirmationButton:hover,
addEmpIDBtn:hover,
#runScriptBtn:hover {
  background-color: #d5f5e6;
}

.question {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #45bf86;
}

#shareLoginFields {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#ibacLoginFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#enrollmentCheckResults {
  display: flex;
  margin-top: 20px;
}

#checkEnvBtn {
  margin-top: 8px;
  padding: 6px 8px;
}
